<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WorkingCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5947BC9E1D20E5D9007334C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5947BCB51D20E5D9007334C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5947BCC01D20E5D9007334C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
